<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
</head>
<body>
    <h1>Hello World!</h1>
    <h2>{{ 5 * 6}}</h2>
    <h3>Random number: {{num}}</h3>
<!-- When user clicks on anchor tag it's going to look for a method get_block on server.py-->
<!-- num passed from index.html to server.py to the method get_blog where it could be printed-->
<a href="{{url_for('get_blog', num=3)}}">Go To Blog</a>
</body>
<footer>
    <p>Copyright {{year}}. Built by Shelomo.</p>

</footer>
</html>