<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--method attribute specifies how to send form-data, which is sent to the page in the action attribute when using POST-->
    <form action="/login" method="post">
        <label>Name:</label>
        <input type="text" placeholder="name" name="username">
        <label>Password:</label>
        <input type="password" placeholder="password" name="password">
        <input type="submit" value="Ok">
    </form>
</body>
</html>